[Desktop Entry]
Version=1.0
Type=Application
Name=xmahjongg
Name[bg_BG.UTF-8]=Маджонг (xmahjongg)
GenericName=
Comment=A colorful solitaire Mah Jongg game
Comment[bg_BG.UTF-8]=Премахване на купчина плочки чрез групирането им по двойки
Comment[de]=ein farbenfrohes Mahjong-Spiel
Comment[fr]=Un magnifique jeu Mah Jongg, solitaire
Icon=xmahjongg
Exec=xmahjongg
Terminal=false
Categories=Game;BoardGame;
Keywords=tiles;mahjongg;solitaire;
